body {
  margin: 0;
  font-family: "Spartan", sans-serif;
}

.nav-photo {
  background-image: url(images/mobile-image-hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  width: 100%;
  height: 360px;
  position: relative;
  margin: auto;
}

.arrow-navigation {
  display: inline-block;
  position: absolute;
  top: 85%;
  left: 70%;
  width: 30%;
  height: 15%;
  background-color: black;
  display: flex;
}

.arrow {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow:hover {
  background-color: #454545;
  cursor: pointer;
}

.navigation {
  height: 10%;
  margin: 0;
  padding: 10% 7%;
  /* vertical-align: center; */
  line-height: 36px;
}

img.logo {
  transform: translate(170%);
}

ol.options {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin: 0;
}

.menu {
  display: none;
}

.show-menu {
  display: block;
  transition: all 0.5s ease;
  /* animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: 1; */
}

.menu-content {
  width: 375px;
  height: 110px;
  background-color: white;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* transition-timing-function: ease-in;
  transition: 2s; */
}

img.close-btn {
  margin-left: 20px;
  margin-right: 50px;
}

li.option {
  letter-spacing: 0.1px;
  font-weight: 700;
  margin-right: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 85%;
}

.article__header {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

.article__header--small {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3rem;
}

.article__content {
  color: #a1a1a1;
  line-height: 1.2rem;
  font-size: 12px;
}

.article__link {
  margin: 1.5rem 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.article__link--image {
  margin-left: 1.5rem;
}
